/* Style cho phần services */
.services-area .single-services {
    padding: 65px 80px 70px 80px;
    position: relative;
    z-index: 1;
    width: 33.33%;
    transition: all 0.4s ease-out 0s;
    background: #fafafa;
}

.services-area .single-services:hover {
    background: #fff;
}

.services-area .single-services .services-icon img {
    margin-bottom: 19px;
}

.services-area .single-services .services-caption h4 {
    color: #04080f;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
    display: inline-block;
    position: relative;
}

.services-area .single-services .services-caption h4::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 9px;
    background: #ffe7ca;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.services-area .single-services .services-caption p {
    color: #021a47;
    font-size: 16px;
    line-height: 25px;
}