/* Style cho slider */
.slider-height {
    min-height: 830px;
    background-repeat: no-repeat;
    background-position: center center;
}

.slider-area .hero__caption {
    padding: 39px 70px 56px 68px;
    margin-left: -25px;
    margin-right: 25px;
    position: relative;
    overflow: hidden;
}

.slider-area .hero__caption h1 {
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 14px;
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
}

.slider-area .hero__caption p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 39px;
    color: #ffffff;
    margin-bottom: 25px;
    padding-right: 49px;
}